@import url(http://weloveiconfonts.com/api/?family=brandico|entypo);



* {
  box-sizing: border-box; }


body {
  padding: 0;
  margin: 0;
  font-family: "SF Compact Display", -apple-system, BlinkMacSystemFont, "SF Compact Display",
   "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
   "Fira Sans", "Droid Sans", "Helvetica Neue",
   sans-serif ;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
background-color: #fff5e8; }

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn + .btn {
    margin-left: 1rem; }

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }

@media screen and (min-width: 64em) {
  .btn {
    padding: 0.75rem 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem; } }

@media screen and (max-width: 42em) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem; }
    .btn + .btn {
      margin-top: 1rem;
      margin-left: 0; } }
.project-logo {
  text-align: center;
  padding-top: 2em;
}
.page-header {
  color: #EF4D76;
  text-align: center;
  background-color: #fff5e8;
  /* background-image: linear-gradient(120deg, #155799, #159957); */
      }
@media screen and (min-width: 64em) {
  .page-header {
        padding: 3em 1em 3em 1em; }

    } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 3rem 3rem 1rem; }
  .project-logo svg {
    width: 70%;
    height: 70%;
  } }

@media screen and (max-width: 42em) {
  .page-header {
  padding: 3rem 0rem 0rem; }
  .project-logo svg {
    width: 80%;
    height: 80%; }
     }

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem; }

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem; } }

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem; } }

.project-tagline {
margin-bottom: 2rem;
text-transform: uppercase;
font-weight: bold;
letter-spacing: .6rem;
text-indent: .6rem;
opacity: 1;
}

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 2rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 2.2rem; } }

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.2rem; } }

.main-content :first-child {
  margin-top: 0; }
.main-content img {
  max-width: 100%; }
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #EF4D76; }
.main-content p {
  margin-bottom: 1em; }
.main-content code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #383e41;
  background-color: #f3f6fa;
  border-radius: 0.3rem; }
.main-content pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem; }
  .main-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }
.main-content .highlight {
  margin-bottom: 1rem; }
  .main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal; }
.main-content .highlight pre, .main-content pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem; }
.main-content pre code, .main-content pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0; }
  .main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
    content: normal; }
.main-content ul, .main-content ol {
  margin-top: 0; }
.main-content blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0; }
  .main-content blockquote > :first-child {
    margin-top: 0; }
  .main-content blockquote > :last-child {
    margin-bottom: 0; }
.main-content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; }
  .main-content table th {
    font-weight: bold; }
  .main-content table th, .main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec; }
.main-content dl {
  padding: 0; }
  .main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold; }
  .main-content dl dd {
    padding: 0;
    margin-bottom: 1rem; }
.main-content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0; }

@media screen and (min-width: 64em) {
  .main-content {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem; } }

@media screen and (max-width: 42em) {
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem; } }

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1; }

.site-footer-owner {
  display: block;
  font-weight: bold; }

.site-footer-credits {
  color: #eff0f1; }

@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.9rem; } }
.heyfam {
  background: #e45959;
background: -moz-linear-gradient(-45deg, #e45959 0%, #ef4d76 100%);
background: -webkit-linear-gradient(-45deg, #e45959 0%,#ef4d76 100%);
background: linear-gradient(135deg, #e45959 0%,#ef4d76 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e45959', endColorstr='#ef4d76',GradientType=1 );
padding: 2em 1em;
padding-top: 1.5em;
height: 11rem;
width: 100%;
position: absolute;
overflow: hidden;
bottom: 0;``
}
div#conversational-form {
  height: 450px;
top: 685px;
margin: 2em 25em 2em 25em;
z-index: 20;
}
form#my-form-element {
    visibility: hidden;
}
.foot {
  color: #fff;

}
.main-content {
  display:none;
}

.bbox {
    padding-top: 1em;
    text-align: center;
}

.cbox {
    padding-bottom: 1em;
    width: 100%;
    text-align: center;
}


/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

div.social-buttons {
  text-align: center;

}

div.social-buttons li {
  display: inline-block;
  margin: 0 10px;
}

div.social-buttons li a {
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 50px;
  text-decoration: none;
  font-size: 30px;
  line-height: 60px;
  color: white;
}

div.social-buttons li a {
  color: #f3f6fa;
  background: rgba(255, 255, 255, 0.37);

}


/*Demo 1*/
div#demo1 li a {
  transition: transform 0.2s linear;
}

div#demo1 li:hover a {
  transform: translateY(-10px);
}


@media screen and (min-width: 64em)  {
  div.social-buttons li a {
    width: 70px;
    height: 70px;
    display: block;
    border-radius: 50px;
    text-decoration: none;
    font-size: 2em;
    line-height: 4.6rem;
  }
}
@media screen and (min-width: 64em) {
div.social-buttons li {
  display: inline-block;
  margin: 0 4em;
}}
.contact {
  text-transform: uppercase;
  letter-spacing: 1em;
  text-indent: 1em;
  font-size: .9rem;
}
@media screen and (min-width: 64em) {
  .contact {
    text-transform: uppercase;
        letter-spacing: 1em;
        text-indent: 1em;
        font-size: 1.2rem;
        margin: 0;
  }}

@media screen and (max-width: 42em) {
  .heyfam {
      background: #e45959;
      background: -moz-linear-gradient(-45deg, #e45959 0%, #ef4d76 100%);
      background: -webkit-linear-gradient(-45deg, #e45959 0%,#ef4d76 100%);
      background: linear-gradient(135deg, #e45959 0%,#ef4d76 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e45959', endColorstr='#ef4d76',GradientType=1 );
      padding: 0em 1em;
      padding-top: 1.9em;
      height: 15em;
      width: 100%;
      overflow-x: hidden;
      position: absolute;}}
